<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.dawb.tango.server.workflow/src/org/dawb/tango/server/workflow/test/TestAbort.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="TANGO_HOST" value="deino:20000"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.dawb.tango.server.workflow.test.TestAbort"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="id14eh1/workflowexecutor/1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.dawb.tango.server.workflow"/>
</launchConfiguration>
